*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.container{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    
}
.logo{
    margin-left: 20px;
    width: 54px;
}
.nav{
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}
.nav li{
    list-style: none;
}
.nav li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
.nav li a:hover{
    background-color: yellowgreen;
}
#menu-btn{
    display: none;
}
.hide{
    position: fixed;
    top:0px;
    right: 0px;
    width: 250px;
    height: auto;
    background-color: rgba(34,34,34,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(23,23,23,0.4);
    display: none;
}
.hide li{
    list-style: none;
    width: 100%;
}
.hide li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.hide li a:hover{
    background-color: yellowgreen;
}
.hero{
    height: 50vh;
}
.bg{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -22;
}
.hero1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 220px;
}
.hero1 span{
    width: 70vw;
    margin: auto;
}
.first{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-bottom: 15px;
}
.second{
    color: white;
}
form input{
    margin-top: 15px;
    background-color: rgba(23,23,23,0.4);
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    width: 300px;
    padding: 10px;
    
}
form label{
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    background-color:rgb(145,7,7);
    border:1.5px solid black;
}
form label:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
   .nav .mobile{
    display: none;
   } 
   #menu-btn{
    display: block;
    }
    .hero{
        height: 25vw;
    }
    .first{
        font-size:4vw;
    }
}